#usluge-poc {
  min-height: 50vh;
  min-height: 50svh;
  width: 100%;
}
#usluge-poc .h1 {
  background-color: var(--secondary-color);
  padding: 20vh 0;
  position: relative;
}
#usluge-poc .h1::after {
  position: absolute;
  top: 99%;
  left: -5%;
  width: 35%;
  content: url("/wave.svg");
}
#usluge-poc .h1 h1 {
  font-size: var(--font-size-Xlarge);
  margin-inline: auto;
  width: fit-content;
  position: relative;
  text-align: center;
  background-clip: text;
  filter: drop-shadow(5px -2.5px 0px var(--primary-color));
}
#usluge-poc h1::after {
  position: absolute;
  top: 50%;
  left: 0%;
  height: 100%;
  width: 0%;
  content: "~";
  transform: translate(-300%, -50%);
  width: fit-content;
}
#usluge-poc h1::before {
  position: absolute;
  top: 50%;
  left: 100%;
  height: 100%;
  content: "~";
  transform: translate(200%, -50%);
}
#usluge-poc .ispod {
  margin-block: 30vh;
  margin-left: 20%;
  margin-right: 10%;
  padding-bottom: 10vh;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  align-items: center;
  min-height: 50vh;
  min-height: 50svh;
  width: 80%;
  position: relative;
}
#usluge-poc .ispod h2 {
  position: absolute;
  top: -10%;
  left: 50%;
  font-size: var(--font-size-large);
  transform: translate(-50%, -50%);
  width: 100%;
  text-align: center;
}
#usluge-poc .ispod h2 .span {
  filter: drop-shadow(4px -2px 0px var(--primary-color));
}
#usluge-poc .ispod .swiper {
  width: 20%;
  padding: 2%;
  margin: auto;
  min-width: 100px;
}
#usluge-poc .ispod .swiper .holder {
  width: 100%;
}
#usluge-poc .ispod .swiper .holder img {
  width: 100%;
  height: 100%;
  object-position: center;
}
#usluge-poc .ispod .p {
  min-width: 250px;
  width: 40%;
  margin: auto;
}
#usluge-poc .ispod .p p {
  font-size: var(--font-size-mid);
}
#usluge-poc .ispod .dugme {
  position: absolute;
  left: 50%;
  top: 100%;
  min-width: 75px;
  width: 12.5%;
  aspect-ratio: 5/2;
  transform: translate(-50%, -100%);
  padding-inline: 5px;
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: var(--font-size-mid);
  letter-spacing: 2px;
  cursor: pointer;
  border-radius: 5px;
  overflow: hidden;
  background-color: var(--primary-color);
}

#usluge-poc .ispod .dugme::after {
  position: absolute;
  content: "";
  width: 15%;
  aspect-ratio: 1/1;
  top: 150%;
  left: 50%;
  border-radius: 50%;
  background-color: var(--secondary-color);
  transform: translate(-50%, -50%);
  z-index: -1;
}
#usluge-poc .ispod .dugme:hover::after {
  cursor: pointer;
  animation: lepi-mehur 0.5s ease-in forwards;
}
@keyframes lepi-mehur {
  0% {
    top: 150%;
    width: 15%;
  }
  40%,
  65% {
    top: 50%;
    width: 15%;
  }
  100% {
    width: 110%;
    top: 50%;
  }
}

@media only screen and (max-width: 400px) {
  #usluge-poc .ispod .swiper {
    min-width: 75px;
  }
  #usluge-poc .ispod .p {
    min-width: 200px;
  }
}
