#navbar {
  user-select: none;
  position: fixed;
  top: 0;
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 100% !important;
  height: clamp(45px, 12vh, 90px);
  height: clamp(45px, 12svh, 90px);
  z-index: 5;
  /* overflow: hidden; */
  gap: calc(var(--font-size-mid) * 2);
  padding: 0;
  margin: 0;
}

.spusten::before {
  position: absolute;
  width: 100%;
  height: 100%;
  content: "";
  top: 0;
  left: 0;
  background-color: #273335;
  box-shadow: 0 0 10px black;
  animation: navHeight linear 0.25s forwards;
  z-index: -1;
}
.dignut::before {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  content: "";
  height: 50%;
  background-color: #273335;
  z-index: -1;
  animation: navHeightt 0.25s linear forwards;
}
#navbar .logo {
  width: clamp(27px, 6.5vh, 60px);
  width: clamp(27px, 6.5svh, 60px);
  z-index: 5 !important;
  margin-left: 2rem;
  padding-top: 0.3rem;
}
#navbar .pc {
  width: clamp(280px, 70%, 650px);
  justify-content: space-around;
  margin-right: clamp(20px, 3vh, 40px);
}
#navbar .pc li {
  list-style: none;
  margin: 0;
}
#navbar .pc li a {
  text-decoration: none;
  color: white;
  text-transform: uppercase;
  cursor: pointer;
  font-size: var(--font-size-mid);
  position: relative;
  text-align: center;
  padding-inline: 1vw;
}

/* PADAJUCI */
#navbar .pc li a img {
  width: var(--font-size-mid);
  position: absolute;
  padding: 2vh;
  box-sizing: content-box;
  top: 50%;
  left: calc(100% + 2px);
  filter: invert(1);
  transform: translate(-50%, -50%);
}
#navbar .pc li a .padajuci {
  position: absolute;
  display: flex;
  flex-direction: column;
  padding: 2vh;
  width: max-content;
  min-width: 100%;
  top: 100%;
  left: 50%;
  transform: translateX(-50%);
  background-color: #273335;
  color: white;
  padding: 2vh;
}
#navbar .pc li a .padajuci a {
  display: block;
  margin-block: 1vh;
  padding-inline: 1vh;
}
#navbar .pc li a .ima {
  display: flex;
  opacity: 1;
  transition: 0.5s;
}
#navbar .pc li a .nema {
  display: none;
  opacity: 0;
  animation: noneq 0.01s 0.5s forwards;
}
/* PADAJUCI */

#navbar .pc li:nth-child(5) a {
  box-shadow: 0 0 10px black;
  filter: blur(10.4);
}

#navbar .pc li:nth-child(5) a {
  box-shadow: 0 0 10px black;
  filter: blur(10.4);
}
#navbar .pc li:nth-child(5) a:hover::before,
#navbar .pc li:nth-child(5) a:hover::after {
  display: none;
}
#navbar .pc li a:hover::before {
  position: absolute;
  top: 100%;
  left: -2%;
  content: "";
  width: 104%;
  height: 2px;
  background-color: white;
}
#navbar .pc li a:hover::after {
  position: absolute;
  top: 100%;
  left: 50%;
  content: "";
  width: 0%;
  height: 2px;
  background-color: var(--primary-color);
  transform: translateX(-50%);
  animation: navigation 0.35s forwards;
}

/* NAVBAR MOBILE */
#overlay {
  z-index: 3;
  background-color: black;
  opacity: 0.6;
  width: 100%;
  height: 100%;
  position: fixed;
  top: 0;
  left: 0;
}
.svetao {
  display: none;
}
.mobile {
  display: none;
  position: fixed;
  top: 0;
  left: 0%;
  width: 65%;
  transform: translateX(-100%);
  padding-block: 12vh;
  padding-block: 12svh;
  height: 100%;
  display: flex;
  background-color: #273335;
  z-index: 4;
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  align-items: center;
  list-style: none;
  box-shadow: 0 0 10px black;
  box-sizing: border-box;
  overflow: hidden;
}
.mobile li a {
  text-decoration: none;
  color: white;
  font-size: var(--font-size-large);
}
.nece {
  animation: nece 0.4s forwards;
}
.oce {
  animation: oce 0.4s forwards;
}

#navbar .navmobilebutton {
  width: clamp(18px, 5vh, 40px);
  width: clamp(18px, 5svh, 40px);
  z-index: 5 !important;
  margin-left: 2rem;
  padding-top: 0.3rem;
  position: relative;
  height: clamp(27px, 6.5vh, 60px);
  height: clamp(27px, 6.5svh, 60px);
  margin-right: clamp(20px, 3vh, 40px);
  cursor: pointer;
  display: none;
}
#navbar .navmobilebutton img {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
}

@media only screen and (max-width: 600px) {
  /* #navbar .navmobilebutton {
    display: block !important;
  } */
  #navbar ul li a {
    font-size: var(--font-size-small) !important;
  }
  .spusten::before {
    animation: none;
    box-shadow: 0 0 10px black;
  }
}
@media only screen and (max-width: 700px) {
  #navbar .pc li a img {
    width: var(--font-size-small);
  }
}
@keyframes oce {
  0% {
    transform: translateX(-100%);
  }
  100% {
    transform: none;
  }
}
@keyframes nece {
  0% {
    transform: none;
  }
  100% {
    transform: translateX(-100%);
  }
}
@keyframes noneq {
  0% {
    display: flex;
  }
  100% {
    display: none;
  }
}
