@import url("https://fonts.googleapis.com/css2?family=Cairo:wght@300;400;600;700&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Cairo:wght@300;400;600;700&family=Kablammo&display=swap");
@import url("./css/usluge.css");
@import url("./css/uslugee.css");
@import url("./css/navbar.css");
@import url("./css/cena.css");
@import url("./css/kontakt.css");
@import url("./css/footer.css");
@import url("/css/o-nama.css");
@import url("/css/slike.css");
@import url("/css/recenzije.css");
@import url("/css/swiper.css");
@import url("/css/toast.css");
@import url("/css/viber.css");
@import url("/css/karta.css");

:root {
  --font-size-small: clamp(8px, 0.9vw, 18px);
  --font-size-nav: clamp(10px, 1vw, 20px);
  --font-size-mid: clamp(14px, 1.2vw, 25px);
  --font-size-large: clamp(18px, 1.75vw, 30px);
  --font-size-Xlarge: clamp(20px, 4vw, 48px);
  --primary-color: #ff8870;
  --secondary-color: #ffcfa6;
  scroll-behavior: smooth;
  width: 100%;
}

* {
  box-sizing: content-box;
  margin: 0;
  padding: 0;
}
html {
  margin: 0;
  padding: 0;
  width: 100%;
}

body {
  font-size: var(--font-size-small);
  font-weight: 400;
  width: 100%;
  background-color: hsl(0, 0%, 97%);
}

/* GENERAL */
.flex {
  display: flex;
}
.center {
  justify-content: center;
  align-items: center;
}
.neanim {
  animation-duration: 0s !important;
  -webkit-animation-duration: 0s !important;
  transition: background-color 0s, opacity 0s, color 0s, width 0s, height 0s,
    padding 0s, margin 0s !important;
  display: none;
}
/* GENERAL */

#pocetna {
  width: 100%;
  position: relative;
  height: 100vh;
  height: 100svh;
}
#pocetna img {
  position: absolute;
  width: 100%;
  height: 100vh;
  height: 100svh;
  object-position: center;
  object-fit: cover;
  filter: brightness(0.6);
  box-shadow: 0 0 10px black;
}
#pocetna .natpis {
  position: absolute;
  top: 40%;
  left: 50%;
  transform: translateX(-50%) translateY(-50%);
  color: white;
  min-width: 200px;
  font-size: var(--font-size-Xlarge) !important;
  text-align: center;
}
#pocetna .natpis::after {
  top: 125%;
  left: 0;
  content: "";
  background-color: white;
  height: 2px;
  width: 45%;
  position: absolute;
}
#pocetna .natpis::before {
  top: 125%;
  left: 55%;
  content: "";
  background-color: white;
  height: 2px;
  width: 45%;
  position: absolute;
}
#pocetna .pound {
  position: absolute;
  top: 40%;
  left: 50%;
  transform: translateX(-50%) translateY(75%);
  color: var(--primary-color);
  font-size: var(--font-size-Xlarge);
  isolation: isolate;
  -webkit-background-clip: text;
  background-clip: text;
  color: transparent;
  background-color: var(--primary-color);
}
#pocetna .pound::after {
  position: absolute;
  content: "";
  top: -10%;
  left: 50%;
  transform: translateX(-50%) translateY(-50%) rotate(40deg);
  width: 5%;
  aspect-ratio: 1/1;
  background-color: #ff8870;
}
#pocetna #pocetnaButton {
  position: absolute;
  top: 60%;
  left: 50%;
  transform: translateX(-50%) translateY(50%);
  width: 10%;
  min-width: 75px;
  aspect-ratio: 5/2;
  background-color: #ffcfa6;
  display: flex;
  justify-content: center;
  align-items: center;
  color: white;
  font-size: var(--font-size-mid);
  letter-spacing: 2px;
  text-transform: uppercase;
  cursor: pointer;
  border-radius: 5px;
  overflow: hidden;
}

#pocetna #pocetnaButton::after {
  position: absolute;
  content: "";
  width: 0%;
  height: 0%;
  background-color: var(--primary-color);
  border-radius: 5px;
}
#pocetna #pocetnaButton:hover::after {
  animation: PocetnaButton 0.25s forwards ease-out;
}
#pocetna #pocetnaButton p {
  z-index: 2;
}
/* O NAMA POC */
#o-nama-poc {
  min-height: 80vh;
  min-height: 80svh;
  width: 100%;
  margin-bottom: 10vw;
}
#o-nama-poc h1 {
  margin: 20vh 0;
  font-size: var(--font-size-Xlarge);
  margin-inline: auto;
  width: fit-content;
  position: relative;
  text-align: center;
  background-clip: text;
  /* filter: drop-shadow(5px -2.5px 0px var(--primary-color)); */
  max-width: 60%;
}
#o-nama-poc h1::after {
  position: absolute;
  top: 50%;
  left: 0%;
  height: 100%;
  width: 0%;
  content: "~";
  transform: translate(-300%, -50%);
  width: fit-content;
}
#o-nama-poc h1::before {
  position: absolute;
  width: fit-content;
  top: 50%;
  left: 100%;
  height: 100%;
  content: "~";
  transform: translate(200%, -50%);
}
#o-nama-poc .ispod {
  min-height: 50vh;
  min-height: 50svh;
  height: auto;
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  align-items: center;
  overflow: hidden;
  width: 100%;
  padding: 2vh 0 5vh 0;
  flex-wrap: wrap;
}
#o-nama-poc .ispod .p {
  width: 40%;
  min-width: 325px;
  height: 40%;
  font-size: var(--font-size-mid);
  margin-bottom: 10vh;
}
#o-nama-poc .ispod .img {
  width: 35vw;
  margin-bottom: 10vh;
  min-width: 325px;
  aspect-ratio: 2;
  object-fit: cover;
  position: relative;
}
#o-nama-poc .ispod .img .thecard {
  transform-style: preserve-3d;
  position: absolute;
  width: 100%;
  height: 100%;
  transition: 1s ease;
  box-shadow: 0 0 10px #273335;
}
#o-nama-poc .ispod .img:hover .thecard {
  transform: rotateY(180deg);
}
#o-nama-poc .ispod .img img {
  position: absolute;
  width: 100%;
  height: 102%;
  object-fit: cover;
  backface-visibility: hidden;
  filter: brightness(1.02);
}
#o-nama-poc .ispod .img .backface {
  position: absolute;
  width: 100%;
  height: 102%;
  backface-visibility: hidden;
  transform: rotateY(180deg);
  background-color: var(--secondary-color);
  box-shadow: 0 0 10px #273335;
  display: flex;
  justify-content: center;
  align-items: center;
}
#o-nama-poc .ispod .img .backface::after {
  top: 0;
  position: absolute;
  left: 0;
  width: 100%;
  height: 100%;
  content: "";
  background-image: url("/pocetna.jpeg");
  background-size: cover;
  background-position: center;
  object-fit: cover;
  filter: brightness(0.9);
}
#o-nama-poc .ispod .img .backface .dugme {
  background-color: var(--primary-color);
  border-radius: 10px;
  font-size: var(--font-size-mid);
  cursor: pointer;
  box-shadow: 1px 1px 2px #273335;
  padding: 1.75%;
  text-align: center;
  z-index: 3;
}
/* O NAMA POC */

.link {
  text-decoration: none;
  color: #273335;
}
@keyframes navigation {
  0% {
    width: 0%;
  }
  100% {
    width: 110%;
  }
}
@keyframes PocetnaButton {
  0% {
    width: 0%;
    height: 0%;
  }
  100% {
    width: 100%;
    height: 100%;
  }
}
@keyframes navHeight {
  0% {
    height: 0;
  }
  100% {
    height: 100%;
  }
}
@keyframes navHeightt {
  100% {
    height: 0;
  }
  0% {
    height: 100%;
  }
}

/* MEDIA */
@media only screen and (max-width: 600px) {
  :root {
    --font-size-small: clamp(6px, 0.7vw, 18px);
    --font-size-nav: clamp(8px, 1vw, 20px);
    --font-size-mid: clamp(12px, 1.5vw, 25px);
    --font-size-large: clamp(14px, 1.75vw, 30px);
    --font-size-Xlarge: clamp(20px, 3.5vw, 48px);
  }
  #pocetna img {
    object-fit: center;
  }

  .dignut::before,
  .dignut::after {
    display: none;
  }

  /* .navmobilebutton {
    display: block;
    width: 100%;
    height: 40%;
  } */
}

/* MEDIA */
@media only screen and (max-width: 400px) {
  /* :root {
    --font-size-small: clamp(6px, 0.7vw, 18px);
    --font-size-mid: clamp(11px, 1.2vw, 25px);
    --font-size-large: clamp(14px, 1.75vw, 30px);
    --font-size-Xlarge: clamp(16px, 7vw, 50px);
  } */
  #o-nama-poc .ispod .img,
  #o-nama-poc .ispod .p {
    min-width: 275px;
  }
  /* #o-nama-poc h1 {
    filter: drop-shadow(5px -2.5px 0px var(--primary-color));
  }
  #o-nama-poc h1 {
    filter: drop-shadow(3px -1.5px 0px var(--primary-color));
  } */
}

.usluge {
  padding-top: 20vh;
}
